{% extends 'base.html' %}

{% block title %}Contativa Contabilidade{% endblock %}

{% block main_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h2>Login</h2>
    <center>
        <form method="post">
            <div class="input-container">
                <input type="text" class="inputnomeusuario" id="nome_usuario" name="nomeusr" placeholder="Nome do usuário" oninput="keepCursorPosition(this)" required>
                <label class="input-title">Nome do usuário:</label>
            </div>
            <div class="input-container">
                <input type="text" class="inputcnpj" id="cnpj" name="cnpj" oninput="formatCNPJ(this)" maxlength="18" placeholder="CNPJ" required>
                <label class="input-title">CNPJ:</label>
            </div>
            <div class="input-container">
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
                <label class="input-title">Senha:</label>                    
            </div>
            
            <div class="caixabotao">
                <button type="submit" id="entrar" class="buttonentrar">Entrar</button>
            </div>
            <div class="caixatexto1">
                <a href="{{ url_for('routes.redefinir_senha') }}">Esqueceu sua senha?</a>
            </div>  
            {% if mensagem: %}
            <div role="alert" class="caixamensagem">
                <p class="mensagem"><b>{{ mensagem }}</b></p>
            </div>
            {% endif %}
        </form>
        <br><br>
        <hr width="100%">
        <div class="button-link">
            Não possui cadastro? <a href="{{ url_for('routes.cadastro') }}">Cadastre-se aqui.</a>
        </div>
        <br>
    </center>
</div>
<script>
    function keepCursorPosition(input) {
        cursorPosition = input.selectionStart;
        const uppercaseValue = input.value.toUpperCase();
        input.value = uppercaseValue;
        
        if (cursorPosition < uppercaseValue.length) {
            input.setSelectionRange(cursorPosition, cursorPosition);
        } else {
            input.setSelectionRange(uppercaseValue.length, uppercaseValue.length);
        }
    }
    
    function formatCNPJ(input) {
            // Remove qualquer caractere não numérico do valor atual do campo
            var cnpj = input.value.replace(/\D/g, '');

            // Formata o CNPJ com os caracteres '.' '/', e '-' conforme o usuário digita
            var formattedCNPJ = '';
            
            for (var i = 0; i < cnpj.length; i++) {
                if (i === 2 || i === 5) {
                formattedCNPJ += '.';
                } else if (i === 8) {
                formattedCNPJ += '/';
                } else if (i === 12) {
                formattedCNPJ += '-';
                }
                formattedCNPJ += cnpj[i];
            }

            // Define o valor formatado de volta no campo
            input.value = formattedCNPJ;
        }
</script>
{% endblock %}
