main{
    width: 100%;
    height: 90%;
    background-color: whitesmoke;
    justify-content: center; /* Centraliza horizontalmente */
    display: flex;
    align-items: center;
}

h2{
    margin-top: 0;
    text-align: center;
    color: #3e4095;
    font-weight: lighter;
    font-size: 28px;
}

.container {
    background-color: #fff;
    width: 50%;
    height: 70%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif;
    display: inline-block;
    justify-content: center;
}
.caixabotao{
    width: 32%;
    background-color: transparent;
    position: relative;
    margin-left: 332px;
}
.caixatexto1{
    width: 28%;
    height: 2%;
    position: relative;
    background-color: transparent;
    margin-left: -355px;
    margin-top: -40px;
    font-size: 13px;
}

form {
    margin-top: 30px;
}

.caixabotaoeditar{
    width: 95%;
    height: 32%;
    background-color: transparent;
    align-items: center;
    border-radius: 20px;
    align-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    transition: transform 0.3s;
}
.caixabotaoeditar:hover {
    transform: scale(0.92);
}
.buttoneditar{
    background-color: transparent;
    color: black;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    align-self: center;
    background-image: url('../images/editar.png');
    background-repeat: no-repeat;
    background-size: 14% 35%;
    background-position-x: 100%;
    background-position-y: 50%;
}
.buttoneditar:hover{
    text-decoration: underline;
}

.caixabotaoinativar{
    width: 95%;
    height: 32%;
    background-color: transparent;
    align-items: center;
    border-radius: 20px;
    align-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin-top: 5%;
    transition: transform 0.3s;
}
.caixabotaoinativar:hover {
    transform: scale(0.92);
}
.buttoninativar{
    background-color: transparent;
    color: black;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    align-self: center;
    background-image: url('../images/inativar.png');
    background-repeat: no-repeat;
    background-size: 15% 40%;
    background-position-x: 95%;
    background-position-y: 52%;
    
}
.buttoninativar:hover{
    text-decoration: underline;
}

.table {
    width: 100%;
    margin-left: 0%; 
}

td {
    font-size: 13px;   
}

.nome-empresa{
    width: 23%;
    text-align: center;
}

.cnpj{
    width: 17%;
    text-align: center;
}

.cnae{
    width: 10%;
    text-align: center;
}

.cidade{
    width: 12%;
    text-align: center;
}

.estado{
    width: 3%;
    text-align: center;
}

.nomesocio{
    width: 22%;
    text-align: justify;
}

