main{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    justify-content: center; /* Centraliza horizontalmente */
    display: flex;
    font-family: Montserrat, sans-serif;
}

.container {
    text-align: center;
    background-color: transparent;
    width: 52%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.documento-button {
    background-color: transparent;
    border: none;
    margin-top: 45px;
    width: 100%;
    height: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    font-weight: lighter;
}

.conteudo-documentos{
    width: 97%; 
    height: 35%;
    background-color: #ccc; 
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.documento-title {
    position: relative;
    top: -24px;
    left: 40px;
    background-color: whitesmoke;
    width: 19.5%;
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.hidden {
    display: none;
}

hr {
    width: 100%;
    height: 45px;
}

h2 {
    color: #3e4095;
    font-weight: lighter;
    font-size: 25px;
}
