main{
    width: 100%;
    height: 85%;
    background-color: whitesmoke;
    justify-content: center; /* Centraliza horizontalmente */
    display: flex;
    align-items: center;
}

h2{
    margin-top: 0;
    text-align: center;
    color: #3e4095;
    font-weight: lighter;
    font-size: 28px;
}

.container {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif;
    display: inline-block;
    justify-content: center;
    
}
.caixabotao{
    width: 32%;
    background-color: transparent;
    position: relative;
    margin-left: 332px;
}
.caixatexto1{
    width: 28%;
    height: 2%;
    position: relative;
    background-color: transparent;
    margin-left: -355px;
    margin-top: -40px;
    font-size: 13px;
}

form {
    margin-top: 30px;
}