main{
    width: 100%;
    height: 83%;
    background-color: whitesmoke;
    justify-content: center; /* Centraliza horizontalmente */
    display: flex;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 21.8%;
    padding: 1.1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif;
    display: inline-block;
    justify-content: center;
    
}
.caixabotao{
    width: 39%;
    background-color: transparent;
    position: relative;
    margin-left: 59.3%;
}
.caixatexto1{
    width: 100%;
    height: 7%;
    position: relative;
    background-color: transparent;
    text-align: justify;
    font-size: 14px;
}

.caixatexto2{
    width: 40%;
    height: 2%;
    position: relative;
    text-align: left;
    background-color: transparent;
    margin-left: -58%;
    margin-top: -11.5%;
    font-size: 13px;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #3e4095;
    font-weight: lighter;
    font-size: 28px;
}

form {
    margin-top: 30px;
}

input[type="e-mail"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    font-family: Montserrat, sans-serif;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-title {
    position: absolute;
    top: 5px; /* Ajuste a distância do título ao input conforme necessário */
    left: 7px; /* Ajuste a posição do título conforme necessário */
    background-color: #fff; /* Cor do fundo do título (para cobrir o texto do input) */
    padding: 0 6px; /* Espaçamento interno do título */
    pointer-events: none; /* Impede que o título seja clicável */
    transition: top 0.2s ease, font-size 0.2s ease; /* Animação suave */
    opacity: 0;
}

input:focus + .input-title,
input:not(:placeholder-shown) + .input-title {
    top: -10px; /* Ajuste a posição vertical do título quando o input está em foco */
    font-size: 14px; /* Ajuste o tamanho da fonte do título quando o input está em foco */
    opacity: 1;
}

input[placeholder]::placeholder{
    font-size: 14px;
}
input:focus {
    outline-color:  rgb(0, 0, 197); 
}
input:focus::placeholder {    
    color: transparent;
}


.buttonenviarcodigo[type="submit"] {
    background-color: #3e4095;
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    border-radius: 4px;
    transition: transform 0.3s;
    font-size: 15.5px;
}

.buttonenviarcodigo[type="submit"]:hover{
    background-color: white;
    transform: scale(0.90);
    color: #3e4095;
    border: 1px solid #3e4095;
}

.button-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

a:link{
    color: rgb(0, 0, 197);
}

a:hover{
    color: blue;
}

#e-mail{
    height: 6.4%;
    border: 1px solid #ccc; 
    padding-left: 12px;
}

#e-mail:hover{
    border-color:  rgb(0, 0, 197);
}

#enviarcodigo{
    height: 6.4%;
}

@media (max-width: 1920px) {
    h2 {
        font-size: calc(13px + (28.5 - 13) * ((100vw - 100px) / (1920 - 100)));
    } 
    .caixatexto1 {
        font-size: calc(4.5px + (14.5 - 4.5) * ((100vw - 100px) / (1920 - 100)));
    } 
    .caixatexto2 {
        font-size: calc(4.5px + (13.5 - 4.5) * ((100vw - 100px) / (1920 - 100)));
    } 
    .button-link {
        font-size: calc(5px + (14 - 5) * ((100vw - 100px) / (1920 - 100)));
    }
    .buttonenviarcodigo[type="submit"] {
        font-size: calc(6px + (16 - 6) * ((100vw - 100px) / (1920 - 100)));
    }
    input[placeholder]::placeholder {
        font-size: calc(6px + (14.5 - 6) * ((100vw - 100px) / (1920 - 100)));
    }
    input:focus + .input-title,
    input:not(:placeholder-shown) + .input-title {
        font-size: calc(6px + (14.5 - 6) * ((100vw - 100px) / (1920 - 100)));
    }
}

